{% extends 'base.html' %} {% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{{ category.title }}</h1>
        <p class="lead text-muted mb-0">{{ category.description }}</p>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'products' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{category.title}}</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase">
                    <i class="fa fa-list"></i> Категории</div>
                <ul class="list-group category_block">
                    {% for category in categories %}
                    <li class="list-group-item">
                        <a href="{% url 'category' category.id %}">{{category.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase">Last product</div>
                <div class="card-body">
                    <img class="img-fluid" src="https://dummyimage.com/600x400/55595c/fff" />
                    <h5 class="card-title">Product title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="bloc_left_price">99.00 $</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                {% for product in category.products.all %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="/media/{{product.image}}" alt="{{product.title}}">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{% url 'product' product.id %}" title="View Product">{{product.title}}</a>
                            </h4>
                            <p class="card-text">{{product.description|truncatewords:25}}</p>
                            <div class="row">
                                <div class="col">
                                    <p class="btn btn-danger btn-block">{{product.price}} руб.</p>
                                </div>
                                <div class="col">
                                    <a href="{% url 'product_order' product.id %}" class="btn btn-success btn-block">Добавить в корзину</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %} {% if is_paginated %}
                <div class="col-12">
                    <nav aria-label="pages">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Назад</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Назад</span>
                            </li>
                            {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i %}
                            <li class="page-item active">
                                <span class="page-link" href="#">{{ i }}
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                            {% endif %} {% endfor %} {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Вперед</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Вперед</span>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>
{% endblock %}